@use 'variaveis';
@use 'bases';
@use 'componentes';
@use 'mixins';
@use 'animations';
@use 'sass:math';

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: calc(variaveis.$margem*2);

    &__logo {
        display: flex;
        flex-direction: row;
        text-decoration: underline variaveis.$cor-primaria 7px;
    }


}

.lista {
    display: flex;
    list-style: none;
    gap: calc(variaveis.$margem*2);
    font-weight: 300;

    &__item {
        transition: 0.5s;
    }

    &__item:hover {
        transform: translateY(-10px);
    }

    &__item a {
        text-decoration: none;
        color: #000;
    }
}

.img-svg {
    width: 30rem;
}


.home {
    background-color: variaveis.$second-cor-background;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        justify-content: space-around;
        max-width: 1400px;
        align-items: center;
        width: 100%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__text h1 {
        font-weight: 300;
    }

    &__text p {
        font-style: italic;
    }

    &__text a {
        margin-top: calc(variaveis.$margem*4);
        font-weight: 600;
        background-color: variaveis.$cor-primaria;
        color: #fff;
        border-radius: 13px;
        padding: 7px 20px;
        text-decoration: none;
    }
}


.sobre__nos {
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1400px;
        width: 100%;
    }

    &__container h2 {
        font-weight: 210;
        margin-left: 2.4rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 45%;
    }

    &__text p {
        text-align: justify;
        font-weight: 230;
    }

    &__text h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }
}


.servicos {
    margin-bottom: calc(variaveis.$margem*5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__container {
        background-color: variaveis.$second-cor-background;
        display: flex;
        align-items: center;
        max-width: 1400px;
        justify-content: space-around;
        width: 100%;
    }

    &__h2 {
        margin-right: 4rem;
        font-weight: 200;
        text-align: start;
    }

    .container__box {
        display: flex;
        flex-direction: column;
        gap: 2rem;

    }

    .container__card {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        background-color: variaveis.$cor-primaria;
        transition: 0.4s;
        display: flex;
        justify-content: center;
    }

    .container__card img {
        width: 70px;
    }

    .servicos__box p {
        font-size: 1.3rem;
        font-weight: 200;
    }

    .container__card:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

/*Depoimentos*/
.depoimentos {
    margin-bottom: calc(variaveis.$margem*5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;

    .depoimentos h2 {
        font-weight: 200;
        margin-left: 1.5rem;
    }

    &__container {
        overflow: hidden;
        max-width: 1400px;
        width: 100%;
        padding: 7rem 0;
        background-color: variaveis.$cor-primaria;
        text-align: center;
    }

    .depoimentos__text h3 {
        color: #fff;
        font-weight: 300;
    }

    .depoimentos__text p {
        color: #fff;
        font-weight: 200;
        font-style: italic;
    }

    .card {
        background: #fff;
        padding: calc(variaveis.$margem*2);
        text-align: justify;
        border-radius: 10px;
        width: 500px;
        height: 200px;
        flex-shrink: 0;
    }

    .card-slide {
        display: inline-flex;
        gap: 40px;
        margin-top: calc(variaveis.$margem*2);
        animation: animations.$slide;
    }

    .author {
        display: flex;
        align-items: center;
        gap: 0.9rem;
        font-style: italic;
    }
}


.contato {
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 1400px;
    }

    &__formulario {
        background-color: variaveis.$cor-primaria;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        height: 400px;
        width: 450px;

        input {
            border: none;
            background-color: #fff;
            border-radius: 6px;
        }

        input[type="button"] {
            padding: 0.7rem 2.5rem;
        }

        h2 {
            font-size: 28px;
            color: #fff;
        }
    }
}


footer {
    background-color: variaveis.$cor-primaria;
    color: #fff;
    text-align: center;
    font-size: 9px;
}
